[submodule "themes/Stack"]
	path = themes/Stack
	url = https://github.com/crackhopper/hugo-theme-stack.git
[submodule "repo_to_deploy"]
	path = repo_to_deploy
	url = https://github.com/crackhopper/crackhopper.github.io.git
